<div class="row">
    <div class="col-lg-12 text-center m-t-md">
        <h2>
            ANTICIPOS 
        </h2>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs text-success">
                                {{totalAsignadoAno|currency:undefined:0}}
                            </h1>
                            <h4 class="font-extra-bold m-t-xl m-b-xs text-success">Total Asignado</h4>
                        </div>
                    </div>
                    <div class="col-md-5 text-center">
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs">
                                {{montoGastado|currency:undefined:0}}
                            </h1>
                            <h4 class="font-extra-bold m-t-xl m-b-xs">Total Gastado</h4>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs text-success">
                                {{montoRestante|currency:undefined:0}}
                            </h1>
                            <h4 class="font-extra-bold m-t-xl m-b-xs text-success">Restante</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                Última actualización: 19/01/2018
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="text-center m-b-md">
            <h3>Registrar Anticipo</h3>
            <small>Formulario para registrar solicitud</small>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-lg-6" ng-class="{'has-error': errores.concepto}">
                        <label>Concepto</label>
                        <input 
                            type="text" 
                            id="concepto" 
                            class="form-control" 
                            ng-model="datosFormulario.concepto"
                            name="" 
                            placeholder="Ingrese el concepto.."
                            capitalize/>
                        <span ng-show="errores.concepto" class="control-label">{{errores.concepto}}</span>
                    </div>
                    <div class="form-group col-lg-6" ng-class="{'has-error': errores.valor}">
                        <label>Valor</label>
                        <div class="input-group">
                            <span class="input-group-addon" style="color:#62cb31">$</span>
                            <input 
                                type="number" 
                                ng-model="datosFormulario.valor" 
                                id="valor" 
                                placeholder="Ingrese el valor.."
                                class="form-control" 
                                name="">
                        </div>
                        <span ng-show="errores.valor" class="control-label">{{errores.valor}}</span>
                    </div> 
                    <div class="form-group col-lg-6" ng-class="{'has-error': errores.observacion}">
                        <label>Obervación</label>
                        <textarea 
                            class="form-control" 
                            ng-model="datosFormulario.observacion" 
                            placeholder="Ingrese la observación.."
                            rows="3">    
                        </textarea>
                        <span ng-show="errores.observacion" class="control-label">{{errores.observacion}}</span>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-success" ng-click="conceptos()">Registrar</button>
                    <button class="btn btn-default">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>