<div class="row">
    <div class="col-lg-12 text-center m-t-md">
        <h2>
            ANTICIPOS 
        </h2>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs text-success">
                                {{totalAsignadoAno|currency:undefined:0}}
                            </h1>
                            <h4 class="font-extra-bold m-t-xl m-b-xs text-success">Total Asignado</h4>
                        </div>
                    </div>
                    <div class="col-md-5 text-center">
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs">
                                {{montoGastado|currency:undefined:0}}
                            </h1>
                            <h4 class="font-extra-bold m-t-xl m-b-xs">Total Gastado</h4>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs text-success">
                                {{montoRestante|currency:undefined:0}}
                            </h1>
                            <h4 class="font-extra-bold m-t-xl m-b-xs text-success">Restante</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                Última actualización: 19/01/2018
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="verFormulario">
    <div class="col-md-12">
        <div class="text-center m-b-md">
            <h3>Registrar Anticipo</h3>
            <small>Formulario para registrar solicitud</small>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group col-lg-6" ng-class="{'has-error': errores.concepto}">
                        <label>Concepto</label>
                        <input 
                            type="text" 
                            id="concepto" 
                            class="form-control" 
                            ng-model="datosFormulario.concepto"
                            name="" 
                            placeholder="Ingrese el concepto.."
                            capitalize/>
                        <span ng-show="errores.concepto" class="control-label">{{errores.concepto}}</span>
                    </div>
                    <div class="form-group col-lg-6" ng-class="{'has-error': errores.valor}">
                        <label>Valor</label>
                        <div class="input-group">
                            <span class="input-group-addon" style="color:#62cb31">$</span>
                            <input 
                                type="number" 
                                ng-model="datosFormulario.valor" 
                                id="valor" 
                                placeholder="Ingrese el valor.."
                                class="form-control" 
                                name="">
                        </div>
                        <span ng-show="errores.valor" class="control-label">{{errores.valor}}</span>
                    </div> 
                    <div class="form-group col-lg-6" ng-class="{'has-error': errores.observacion}">
                        <label>Obervación</label>
                        <textarea 
                            class="form-control" 
                            ng-model="datosFormulario.observacion" 
                            placeholder="Ingrese la observación.."
                            rows="3">    
                        </textarea>
                        <span ng-show="errores.observacion" class="control-label">{{errores.observacion}}</span>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-success" ng-click="conceptos()">Registrar</button>
                    <button class="btn btn-default">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <div class="modal-header text-center">
                    <h4 class="modal-title"><span id="modalTitulo"> </span></h4>
                    <small class="font-bold"><span id="modalTituloDecripcion"> </span></small>
                </div>
            </div>
            <div class="modal-body">
                <span id="modalTituloContenido"> </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="registrarDato()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="verSolicitud">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="table-responsive">
                    <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id.</th>
                                <th>Monto</th>
                                <th>Fecha Solicitud</th>
                                <th>Concepto</th>
                                <th>Estado</th>
                                <th>Legalizado</th>
                                <th>Observación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="datoTabla in datosTabla">
                                <td>{{datoTabla.id}}</td>
                                <td>{{datoTabla.monto|currency}}</td>
                                <td>{{datoTabla.concepto}}</td>
                                <td>{{datoTabla.fechaSolicitud| date:'dd/MM/yyyy'}}</td>
                                <td>{{datoTabla.estado}}</td>
                                <td>
                                    <div ng-show="datoTabla.legalizado === '1'" align="CENTER">
                                        <span style="color:red" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </div>
                                    <div ng-show="datoTabla.legalizado === '2'" align="CENTER">
                                        <span style="color:#62cb31" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </div>
                                </td>
                                <td>{{datoTabla.observacion}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-success " type="button" ng-click="mostrarFormulario()"><span class="bold">Regresar</span></button>
                </div>
            </div>
            
        </div>
    </div>
</div>