<div class="row">
    <div class="col-lg-12 text-center m-t-md">
        <h2>
            ANTICIPOS 
        </h2>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs text-success">
                                {{totalAsignadoAno|currency:undefined:0}}
                            </h1>
                            <h4 class="font-extra-bold m-t-xl m-b-xs text-success">Total Asignado</h4>
                        </div>
                    </div>
                    <div class="col-md-5 text-center">
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs">
                                {{montoGastado|currency:undefined:0}}
                            </h1>
                            <h4 class="font-extra-bold m-t-xl m-b-xs">Total Gastado</h4>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs text-success">
                                {{montoRestante|currency:undefined:0}}
                            </h1>
                            <h4 class="font-extra-bold m-t-xl m-b-xs text-success">Restante</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                Última actualización: 19/01/2018
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="verFormulario">
    <div class="col-md-12">
        <div class="text-center m-b-md">
            <h3>Registrar Anticipo</h3>
            <small>Formulario para registrar solicitud</small>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="pull-left">
                        <div class="col-xs-9 col-sm-9">
                            <div class="form-group" ng-class="{'has-error': errores.mes}">
                                <label>Mes</label>
                                <select class="form-control" 
                                        id="sel" 
                                        name="name" 
                                        style="width:505px" 
                                        ng-model="datosFormulario.mes" 
                                        ng-options="mes.nombre for mes in meses">
                                    <option value="">--Seleccione un mes--</option>    
                                </select>
                                <span ng-show="errores.mes" class="control-label">{{errores.mes}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="col-xs-9 col-sm-9">
                            <div class="form-group" ng-class="{'has-error': errores.semana}">
                                <label>Semana</label>
                                <select class="form-control" 
                                        id="sel" 
                                        name="name" 
                                        style="width:505px" 
                                        ng-model="datosFormulario.semana" 
                                        ng-options="semana.nombre for semana in semanas">
                                    <option value="">--Seleccione una semana--</option> 
                                </select>
                                <span ng-show="errores.semana" class="control-label">{{errores.semana}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left">
                        <div class="col-xs-9 col-sm-9 form-group" ng-class="{'has-error': errores.actividad}">
                            <label>Actividad programada</label>
                            <input 
                                type="text" 
                                id="concepto" 
                                class="form-control"
                                style="width:505px"
                                ng-model="datosFormulario.actividad"
                                name="" 
                                placeholder="Ingrese la actividad.."
                                capitalize/>
                            <span ng-show="errores.actividad" class="control-label">{{errores.actividad}}</span>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="col-xs-9 col-sm-9">
                            <div class="form-group" ng-class="{'has-error': errores.concepto}">
                                <label>Conceptos de gastos</label>
                                <select class="form-control" 
                                        id="sel" 
                                        name="name" 
                                        style="width:505px" 
                                        ng-model="datosFormulario.concepto" 
                                        ng-options="concepto.nombre for concepto in conceptos">
                                    <option value="">--Seleccione un concepto--</option> 
                                </select>
                                <span ng-show="errores.concepto" class="control-label">{{errores.concepto}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left">
                        <div class="col-xs-9 col-sm-9">
                            <div class="form-group" ng-class="{'has-error': errores.municipio}">
                                <label>Municipio</label>
                                <select class="form-control" 
                                        id="sel" 
                                        name="name" 
                                        style="width:505px" 
                                        ng-model="datosFormulario.municipio" 
                                        ng-options="municipio.nombre for municipio in municipios">
                                    <option value="">--Seleccione un municipio--</option> 
                                </select>
                                <span ng-show="errores.municipio" class="control-label">{{errores.municipio}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-6" ng-class="{'has-error': errores.valor}">
                        <label>Valor</label>
                        <div class="input-group">
                            <span class="input-group-addon" style="color:#62cb31">$</span>
                            <input 
                                type="number" 
                                ng-model="datosFormulario.valor" 
                                id="valor" 
                                placeholder="Ingrese el valor.."
                                class="form-control" 
                                name="">
                        </div>
                        <span ng-show="errores.valor" class="control-label">{{errores.valor}}</span>
                    </div> 
                </div>
                <div class="text-center">
                    <button class="btn btn-success" ng-click="solicitar()">Registrar</button>
                    <button class="btn btn-default" ng-click="mostrarTabla()">Ver</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <div class="modal-header text-center">
                    <h4 class="modal-title"><span id="modalTitulo"> </span></h4>
                    <small class="font-bold"><span id="modalTituloDecripcion"> </span></small>
                </div>
            </div>
            <div class="modal-body">
                <span id="modalTituloContenido"> </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="registrarDato()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="verSolicitud">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="table-responsive">
                    <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id.</th>
                                <th>Mes</th>
                                <th>Semana</th>
                                <th>actividad</th>
                                <th>concepto</th>
                                <th>municipio</th>
                                <th>valor</th>
                                <th>estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="datoTabla in datosTabla">
                                <td>{{datoTabla.id}}</td>
                                <td>{{datoTabla.mes}}</td>
                                <td>{{datoTabla.semana}}</td>
                                <td>{{datoTabla.actividad}}</td>
                                <td>{{datoTabla.concepto}}</td>
                                <td>{{datoTabla.municipio}}</td>
                                <td>{{datoTabla.valor|currency}}</td>
                                <td>
                                    <div ng-show="datoTabla.estado === '1'" align="CENTER">
                                        <a class="btn btn-ms btn-warning">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true">Pendiente</span>
                                        </a>
                                    </div>
                                    <div ng-show="datoTabla.estado === '2'" align="CENTER">
                                        <a class="btn btn-ms btn-success">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true">Pagado</span>
                                        </a>
                                    </div>
                                    <div ng-show="datoTabla.estado === '3'" align="CENTER">
                                        <a class="btn btn-ms btn-danger">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true">Rechazado</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-success " type="button" ng-click="mostrarFormulario()"><span class="bold">Regresar</span></button>
                </div>
            </div>

        </div>
    </div>
</div>