<div class="row">
    <div class="col-lg-12 text-center m-t-md">
        <h2>
            Consolidado
        </h2>
    </div>
</div>
</br>
<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="table-responsive">
                    <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id.</th>
                                <th>Monto</th>
                                <th>Fecha Solicitud</th>
                                <th>Estado</th>
                                <th>Fecha Aprobación o Rechazo</th>
                                <th>Observación</th>
                                <th>Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="datoTabla in consolidado">
                                <td>{{datoTabla.id}}</td>
                                <td>{{datoTabla.monto|currency}}</td>
                                <td>{{datoTabla.fechaRegistro}}</td>
                                <td>{{datoTabla.estado}}</td>
                                <td>
                                    <div ng-show="datoTabla.fechaAprobacion === 'null'"></div>
                                    <div ng-show="datoTabla.fechaAprobacion !== 'null'">{{datoTabla.fechaAprobacion}}</div>
                                </td>
                                <td>
                                    <div ng-show="datoTabla.observacion === 'null'"></div>
                                    <div ng-show="datoTabla.observacion !== 'null'">{{datoTabla.observacion}}</div>
                                </td>
                                <td>
                                    <div align="CENTER">
                                        <a class="btn btn-xs btn-success">
                                            <button class="btn btn-success btn-sm" type="button" ng-click="verDetalleConsolidado(datoTabla)"><i class="fa fa-eye"></i> <span class="bold">Ver detalle</span></button>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="hpanel stats">
            <div class="panel-body list">
                <div class="stats-title pull-left">
                    <h4>Monto Asignado</h4>
                </div>
                <div class="stats-icon pull-right">
                    <i class="pe-7s-science fa-4x"></i>
                </div>
                <br><br>
                <div class="row m-t-md">
                    <div class="col-lg-6">
                        <h3 class="no-margins font-extra-bold text-success">300,102</h3>

                        <div class="font-bold">Enero<i class="fa fa-level-up text-success"></i></div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="no-margins font-extra-bold text-success">280,200</h3>

                        <div class="font-bold">Febrero<i class="fa fa-level-up text-success"></i></div>
                    </div>
                </div>
                <div class="row m-t-md">
                    <div class="col-lg-6">
                        <h3 class="no-margins font-extra-bold ">120,108</h3>

                        <div class="font-bold">Marzo<i class="fa fa-level-up"></i></div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="no-margins font-extra-bold ">450,600</h3>

                        <div class="font-bold">Abril<i class="fa fa-level-up"></i></div>
                    </div>

                </div>
                <div class="row m-t-md">
                    <div class="col-lg-6">
                        <h3 class="no-margins font-extra-bold text-success">300,102</h3>

                        <div class="font-bold">Mayo<i class="fa fa-level-up text-success"></i></div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="no-margins font-extra-bold text-success">280,200</h3>

                        <div class="font-bold">Junio<i class="fa fa-level-up text-success"></i></div>
                    </div>
                </div>
                <div class="row m-t-md">
                    <div class="col-lg-6">
                        <h3 class="no-margins font-extra-bold ">120,108</h3>

                        <div class="font-bold">Julio<i class="fa fa-level-up"></i></div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="no-margins font-extra-bold ">450,600</h3>

                        <div class="font-bold">Agosto<i class="fa fa-level-up"></i></div>
                    </div>

                </div>
                <div class="row m-t-md">
                    <div class="col-lg-6">
                        <h3 class="no-margins font-extra-bold text-success">300,102</h3>

                        <div class="font-bold">Septiembre<i class="fa fa-level-up text-success"></i></div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="no-margins font-extra-bold text-success">280,200</h3>

                        <div class="font-bold">Octubre<i class="fa fa-level-up text-success"></i></div>
                    </div>
                </div>
                <div class="row m-t-md">
                    <div class="col-lg-6">
                        <h3 class="no-margins font-extra-bold ">120,108</h3>

                        <div class="font-bold">Noviembre<i class="fa fa-level-up"></i></div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="no-margins font-extra-bold ">450,600</h3>

                        <div class="font-bold">Diciembre<i class="fa fa-level-up"></i></div>
                    </div>

                </div>
            </div>   
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-body list">
                <div class="table-responsive project-list">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>Proyecto</th>
                                <th>Monto</th>
                                <th>Fecha</th>
                                <th>Legalizado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="datoTabla in listadoLegalizado">
                                <td>{{datoTabla.proyecto}}</td>
                                <td><strong>{{datoTabla.monto}}</strong></td>
                                <td>{{datoTabla.fechaRegistro}}</td>
                                <td>
                                    <div ng-show="datoTabla.legalizado === '1'" align="CENTER">
                                        <span style="color:red" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </div>
                                    <div ng-show="datoTabla.legalizado === '2'" align="CENTER">
                                        <span style="color:#62cb31" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="hpanel">
            <div class="panel-body list">

                <div class="pull-right">
                    <a href="#" class="btn btn-xs btn-success">
                        Ver más
                    </a>
                </div>
                <div class="panel-title">Últimos montos aprobados</div>
                <div class="list-item-container">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Monto</th>
                                <th>Fecha Aprobación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="datoTabla in ultimosMontosAprobados">
                                <td>{{datoTabla.monto}}</td>
                                <td>{{datoTabla.fechaAprobado}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
